body {
    background:rgb(56, 52, 52);

}
page {
background:white;
display: block;
margin: 0 auto;
box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

page[size="A4"]{
width: 21cm;
height: 29.7cm;
}

.container {
    padding: 1in;
    background: LightGray;
    display: grid;
    grid-template-columns: 30% 10% 60%;
    grid-template-rows: 29.7cm;
}

.col-1{
    background: green;
}

.col-2{
    background: blue;
}

.col-3{
    background: yellow;
}
